.hero{
    background-image: url('https://cdn.ome.lt/RsGzmNXnResGqXtrUlaHRN7NEaA=/1200x630/smart/extras/conteudos/the-umbrella-academy-season-3-everything-we-know-so-far.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imggale{
    width: 100%;
    height: 100%;
}